@media (min-width: 1024px) {
  .App {
    width: 1024px;
    margin: auto;
  }
}

.App {
  min-height: 100%;
  text-align: center;
}

button {
  color: inherit;
  background-color: inherit;
  cursor: pointer;
}
