.First4Stages {
    margin: 2em 0em;
}

.First4Stages .Row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em 1em;
}

.First4Stages .Row .StageNo {
    margin-right: 1em;
}

.First4Stages .Row .TimeSlot {
    display: flex;
    justify-content: flex-end;
}
