.LoadShedding {
    display: flex;
    flex-direction: column;
    height: 100%;
    flex: 1;
}

@media (min-width: 1024px) {
    .FooterButtons {
        width: 1024px;
    }
}

@media (max-width: 1024px) {
    .FooterButtons {
        width: 100%;
    }
}

.FooterButtons .Container {
    display: flex;
    justify-content: space-between;
    padding: 0.2em;
}

.FooterButtons .Container button {
    font-size: 1em;
    border: 2px solid white;
    border-radius: 0.5em;
    padding: 1em;
}
