@media (min-width: 1024px) {
    .FooterButtons {
        width: 1024px;
    }
}

@media (max-width: 1024px) {
    .FooterButtons {
        width: 100%;
    }
}

.FooterButtons {
    position: absolute;
    bottom: 0;
}

.FooterButtons .Container {
    display: flex;
    justify-content: space-between;
    padding: 0.2em;
}

.FooterButtons .Container button {
    font-size: 1em;
    border: 2px solid white;
    border-radius: 0.5em;
    padding: 1em;
}
